# Python Basics and Pandas

## 1. Lists

**Example 1.1.** Create an empty list named `list1`.

In [ ]:
list1

In [ ]:
list1

**Example 1.2.** Append the first 20 even numbers to `list1`.

In [ ]:
list1 =

In [ ]:
list1 = []

## 2. Dictionaries

**Example 2.1.** Create and empty dictionary named `d`.

In [ ]:
d = {}

**Example 2.2.** Add the keys `name`, `age`, and `birthdate` with the values Mahmoud, 50, and 05/05/1970.

In [ ]:
d

**Example 2.3.** Add another set of keys and values to your dictionary `d`.

# 3. Lambda Expressions

**Example 3.1.** Write a function that will return the square of a number plus 1.

In [ ]:
def f(x):
    return x**2 + 1

f(2)

In [ ]:
g = lambda x: x**2 + 1
g(2)

# 4. Dataframes

In [ ]:
import numpy as np
import pandas as pd
import random

In [ ]:
random.random()

**Example 4.1.** Create a list of 10000 random numbers.

In [ ]:
data1 = [random.random() for i in range(10000)]

**Example 4.2.** Create a dataframe using the `data1` list.

In [ ]:
df1 = pd.DataFrame(data1)
df1.head()

**Example 4.3.** Create a dataframe from a nested list.

In [ ]:
data2 = [[i, random.randint(1,26)] for i in 'ABCBEFGHIJKLMNOPQRSTUVWXYZ']
df2 = pd.DataFrame(data2)
df2

**Example 4.4.** Create a dataframe from a dictionary.

In [ ]:
data3 = {'Model':['T57', 'T61', 'T64', 'T65'],
         'Price':[1.42, 1.48, 1.73, 1.95],
         'Size': ['57 in', '61 in', '64 in', '65 in']}
df3 = pd.DataFrame(data3)
df3

**Example 4.5.** Use the `Model` as the index.

In [ ]:
df4 = 

df4

**Example 4.6.** Slicing a dataframe by index.

In [ ]:
df4.loc['T57':]

**Example 4.7.** Create a dataframe from a list of dictionaries.

In [ ]:
data5 = [{'Ht': 63, 'Len':45, 'Wt':2.6},
         {'Ht': 29, 'Wt':1.7},
         {'Ht': 37, 'Len':71, 'Wt':4.2}]
data5

In [ ]:
df5 = pd.DataFrame(data5)
df5

**Example 4.8.** Create a csv file from a dataframe.

In [ ]:
df5.to_csv()

**Example 4.9.** Read a csv file and store it in a dataframe.

In [ ]:
df6 = pd.read_csv()
df6

# 5. Slicing Dataframes

In [ ]:
df7 = pd.read_csv('https://raw.githubusercontent.com/mahmoudharding/ma4112/main/ldm/iris.csv')
df7.head()

**Example 5.1.** Using the `loc` method.

In [ ]:
# view the dimensions of the dataframe

In [ ]:
# slice by row index
df7.loc[]

In [ ]:
# slice by specific row indices
df7.loc[[]]

In [ ]:
# slice by column name
df7[[]].head()

In [ ]:
# slice by index and column
df7.loc[]

In [ ]:
# slice using column name 
df7.loc[]

In [ ]:
# slice using conditional statements
df7.loc[]

**Example 5.1.** Using the `iloc` method.

In [ ]:
df7.iloc[:5]

In [ ]:
# change the index values
df7.index = []
df7.head()

In [ ]:
# slice using iloc
df7.iloc[]

In [ ]:
# slice using iloc
df7.iloc[].head()

In [ ]:
df7.iloc[]

**Example 5.3.** Slice using the `query` function.

In [ ]:
df7.query('sepal.length/2 > sepal.width')

In [ ]:
df7.rename(columns = {'sepal.length':'sepallength', 'sepal.width':'sepalwidth' }, inplace = True) 
df7

In [ ]:
df7.query('sepallength/2 > sepalwidth')

In [ ]:
df7.query('sepalwidth in [3.2, 5.7]')